<launch>
    <!-- map -->
    <!-- <node name="map_odom" pkg="tf2_ros" type="static_transform_publisher" args="0 0 0 0 0 0 1 map odom"/> -->
    <arg name="map_file" default="$(find stage_simulation)/maps/eurobot_map/empty_map.yaml"/>
    <!-- Run the map server -->
    <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

    <!-- rviz -->
    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find stage_simulation)/rviz/stage.rviz" />

    <!-- Obstacle detector -->
    <include file="$(find obstacle_detector)/launch/ekf.launch"/>

    <!-- ekf node for holonomic drive -->
    <node name="ekf_localization" pkg="ekf_localization" type="ekf_holonomic.py" output="screen"/>

    <!-- teleop keyboard -->
    <!-- <node name="teleop_twist_keyboard" pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" output="screen"/> -->

    

</launch>
